*{
    font-family: 'Montserrat', sans-serif;

}
body{
    margin: 0;
}
.container{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  

    background-color: #8AAAA5;
    color: whitesmoke;
}

.logo{
  margin: 0px;
  margin-top: 10px;
  justify-self: center;
  align-items: center;
  font-weight: bolder;
}

.profileContainer{
    display: flex;
    justify-content: space-around;
}

.profile{
    font-weight: bold;
}

.addNewBook{
    width: 100px;
    height: 40px;
    border: none;
    margin: 0;
    margin-top: 10px;
    font-size: 35px;
    padding-bottom: 45px;
    background-color: #8AAAA5;
    color: whitesmoke;
    border: solid 2px whitesmoke;

}

.addNewBook:hover{
    cursor: pointer;
    background-color: #abd5cf;
}

/* Form Modal */

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid black;
    z-index: 10;
    background-color: whitesmoke;
    width: 800px;
    max-width: 75%;
    display: grid;
    grid: 1fr 1fr 10fr;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

form{
    align-self: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 50px;
    padding: 100px;
    align-items: start;
    justify-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
}
form div{
    display: flex;
    justify-content: space-between;
    gap: 10px
}
input{
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5d5d5dd5;
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.closeModal{
    justify-self: end;
    margin: 10px;
    background-color: black;
    color: whitesmoke;
    border: none;
    border: solid 1px black;
    cursor: pointer;
}

.modal h2{
    justify-self: center;

}

#submit{
    grid-column: 1/3;
    width: 100px;
    height: 50px;
    justify-self: center;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}
#read{
    width: 20px;
    height: 20px;
}

/* Library */

.shelf{
    margin:40px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 350px;
    max-width: 300px;
    background-color: #E2EEEC;
}

.read{
    background-color: green;
}

.unread{
    background-color: red;
}